<% content_for :form do -%>
  <%= render :partial => 'list/form' %>
<% end -%>

<% content_for :list do -%>
  <div class="span12">
    <table id='assignmentList' class='tablesorter-blue'>
      <%= render :partial => 'assignments/list_data' %>
    </table>
    <script type='text/javascript'>
      $(document).ready(function() {
        $('#assignmentList').tablesorter();
      });
    </script>
  </div>
<% end -%>
