<div width=100% style='padding-left:25px'>
<table id='pledgeProgress' class='description' width='250px'>
	<tr>
		<td></td>
		<th>In-hand</th>
		<th>With pledged</th>
	</tr>
	<% for g in @assignment.goals -%>
		<tr>
			<th><%= g.title %></th>
			<td><%= @assignment.goal_inhand_pct(g.frequency) %></td>
			<td><%= @assignment.goal_total_pct(g.frequency) %></td>
		</tr>
	<% end -%>
</table>
</div>
<script>
	$(document).ready(function() {
		$('#pledgeProgress').visualize({type:'bar', parseDirection:'y', height:'100px'});
	});
</script>
