<div class="grid_10 prefix_1 suffix_1 login_bar">
	<table width="100%">
		<tr>
			<td>
				<%= link_to image_tag("safelogo.png"), root_url %></a>
			</td>
			<td>
				<% if @user.nil? -%>
					<%= link_to 'Login', @login_url %>
				<% else -%>
					<%= @user.display_name %>
					|
					<%= link_to 'Logout', :controller => :home, :action => :logout %>
				<% end -%>
			</td>
		</tr>
	</table>
</div>

<div class="clear"></div>

<hr>
<hr>
