<%= page_header 'MPD Home' %>

<div class="grid_10 prefix_1 suffix_1">
	<% @user = @cas_user -%>
	<%= render :partial => 'users/roles' %>
</div>
<div class="clear"></div>

<div class="grid_12">
	<%# SitrackQuery.user('bla') %>
</div>
<div class="clear"></div>
