# Development only
local: &local
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: vagrant
  password:

# Production
sitrack: &sitrack
  adapter: mysql2
  database: prod 

### Main DB

development:
  <<: *local
  database: crumpd_development

# TODO: Change these when moving to Sitrack site
test:
  <<: *local
  database: crumpd_test

production:
  <<: *local
  database: crumpd_production

### Sitrack DB

sitrack_development:
  <<: *sitrack
  host: 108.166.64.232
  username: ???
  password: ???

sitrack_test:
  <<: *sitrack

sitrack_production:
  <<: *sitrack

