### Local DB

local: &local
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: vagrant
  password:

development:
  <<: *local
  database: crumpd_development

test:
  <<: *local
  database: crumpd_test

production:
  <<: *local
  database: crumpd_production

### Sitrack DB

sitrack: &sitrack
  adapter: mysql2
  database: prod 

sitrack_development:
  <<: *sitrack
  host: 108.166.64.232
  username: ???
  password: ???

sitrack_test:
  <<: *sitrack

sitrack_production:
  <<: *sitrack

