<%= page_header @assignment.user.display_name + ' - Reports List' %>

<%= render :partial => 'list/form' %>

<div class="grid_12">
	<table id='reportList' class='tablesorter-blue'>
		<%= render :partial => 'list_data' %>
	</table>
	<script type='text/javascript'>
		$(document).ready(function() {
			$('#reportList').tablesorter();
		});
	</script>
</div>
<div class='clear'></div>
